# automatic LF normalization, consistent line endings across platforms
* text=auto
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

#make sure it dosent modify binary files so it dosent corrupt them
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.zip binary
*.tar binary
*.gz binary


#db file marked as generated so it dosent show in statistics
task_db.json linguist-generated=true

# package lock to always use this version incase there is merge conflict
package-lock.json merge=ours

#template files set to vendored so it dosent show in statistics
*.template.json linguist-vendored=true